body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.racing-lanes {
    position: relative;
    height: 1rem;
    background: linear-gradient(90deg, #EEE 0%, #EEE 5%, transparent 5%, transparent 95%, #EEE 95%);
}

.racing-lanes:before,
.racing-lanes:after {
    content: '';
    position: absolute;
    top: 0;
    width: 3%;
    height: 100%;
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.racing-lanes:before {
    left: 0;
}

.racing-lanes:after {
    right: 0;
}